@{
    ViewBag.Title = "Home Page";
}

<div>
    @for (var i = 0; i < 21; i++)
    {
        <div>
            <img class="img-tumblr lazy" data-original="https://lvgaga.blob.core.windows.net/images/00db95ba-b973-414c-8543-1462c01be5d2.jpg" alt=""/>
            <div class="content-tumblr">
                <p class="text-tumblr">你也曾当过笨蛋，也曾试着当瞎子 当聋子的去信任一个人，你也知道世界上最可悲的就是自我欺骗，但是人笨过傻过瞎过就够了，你更要懂得爱自己，而不是一直重蹈覆辙，还自以为多痴情。</p>
                <p class="text-date">2015-2-25</p>
                <button type="button" class="btn btn-default btn-selected"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
            </div>
        </div>
    }
</div>