@using LvModel.Common
@using LvService.Utilities
@model LvModel.View.Tumblr.TumblrsModel
@{
    ViewBag.Title = "首页";
}

<div id="div_content" class="g-doc">
    @Html.React("TumblrContainerBoxDesktop", new
    {
        dataContext = Model,
        tableNameOfFavorite = LvConstants.TableNameOfFavorite,
        tableNameOfTumblr = LvConstants.TableNameOfTumblr,
        tableNameOfComment = LvConstants.TableNameOfComment
    })
</div>

@section scripts
{
    <!--React-->
    @Scripts.Render("~/bundles/home")
    @Html.ReactInitJavaScript()
    <!--React end-->
}
