@using LvService.Utilities
@model LvModel.View.Tumblr.TumblrsModel
@{
    ViewBag.Title = "首页";
}

<div id="div_tumblrs" class="g-doc">

</div>

@section scripts
{
    <script>
        (function() {
            "use strict";
            lv.tumblrModels = @Html.Raw(Model.Tumblrs.ToJsonString());
            lv.dataContext = @Html.Raw(Model.ToJsonString());
        })();
    </script>
    <!--React-->
    <script src="@Url.Content("~/Scripts/lv.tumblr.jsx")"></script>
    <!--React end-->
}
