@{
    ViewBag.Title = "Home Page";
}

<div>
    <img class="img-tumblr" src="https://lvgaga.blob.core.windows.net/images/00db95ba-b973-414c-8543-1462c01be5d2.jpg" alt=""/>
    <p>你也曾当过笨蛋，也曾试着当瞎子 当聋子的去信任一个人，你也知道世界上最可悲的就是自我欺骗，但是人笨过傻过瞎过就够了，你更要懂得爱自己，而不是一直重蹈覆辙，还自以为多痴情。</p>
    <p>2015-2-25</p>
</div>
<div>
    <img class="img-tumblr" src="https://lvgaga.blob.core.windows.net/images/00db95ba-b973-414c-8543-1462c01be5d2.jpg" alt=""/>
    <p>你也曾当过笨蛋，也曾试着当瞎子 当聋子的去信任一个人，你也知道世界上最可悲的就是自我欺骗，但是人笨过傻过瞎过就够了，你更要懂得爱自己，而不是一直重蹈覆辙，还自以为多痴情。</p>
    <p>2015-2-25</p>
</div>
<div>
    <img class="img-tumblr" src="https://lvgaga.blob.core.windows.net/images/00db95ba-b973-414c-8543-1462c01be5d2.jpg" alt="" />
    <p>你也曾当过笨蛋，也曾试着当瞎子 当聋子的去信任一个人，你也知道世界上最可悲的就是自我欺骗，但是人笨过傻过瞎过就够了，你更要懂得爱自己，而不是一直重蹈覆辙，还自以为多痴情。</p>
    <p>2015-2-25</p>
</div>
