@using LvModel.Common
@model LvModel.View.Tumblr.TumblrsModel
@{
    ViewBag.Title = "首页";
}

<div class="g-doc">
    @Html.React("TumblrContainerBoxDesktop", new
    {
        dataContext = Model,
        tableNameOfFavorite = LvConstants.TableNameOfFavorite,
        tableNameOfTumblr = LvConstants.TableNameOfTumblr,
        tableNameOfComment = LvConstants.TableNameOfComment
    })
</div>

@section scripts
{
    @Scripts.Render("~/bundles/home")
    @Html.ReactInitJavaScript()
}
