@using LvModel.Common
@using LvService.Common
@model LvModel.View.Favorite.FavoritesModel
@{
    ViewBag.Title = "收藏";
}
@section styles
{
    @Styles.Render("~/Content/css/gallery")
}

<div>
    @Html.React("LightBoxMobile", new
    {
        dataContext = Model,
        tableNameOfFavorite = LvConstants.TableNameOfFavorite,
        host = Request.Url != null ? Request.Url.DnsSafeHost : LvConfiguration.DefaultHostName
    })
</div>

@section scripts
{
    @Scripts.Render("~/bundles/favorite/mobile")
    @Html.ReactInitJavaScript()
}
