@using LvService.Utilities
@model IEnumerable<LvModel.View.Favorite.FavoriteModel>
@{
    ViewBag.Title = "收藏";
}
@section styles
{
    @Styles.Render("~/Content/css/gallery")
}

<div id="links"></div>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <nav class="navbar navbar-inverse navbar-fixed-bottom fav-nav">
        <div class="container">
            <button type="button" class="btn btn-default btn-white btn-outline navbar-btn"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-default btn-white btn-outline navbar-btn"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
            <a class="btn btn-default btn-white btn-outline navbar-btn pull-right" href="/comments/1"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
        </div>
    </nav>
</div>

@section scripts {
    @Scripts.Render("~/bundles/gallery")
    @Scripts.Render("~/bundles/business")
    <script>
        $(function() {
            'use strict';

            // Load demo images from flickr:
            //$.ajax({
            //    url: 'https://api.flickr.com/services/rest/',
            //    data: {
            //        format: 'json',
            //        method: 'flickr.interestingness.getList',
            //        api_key: '7617adae70159d09ba78cfec73c13be3'
            //    },
            //    dataType: 'jsonp',
            //    jsonp: 'jsoncallback'
            //}).done(function (result) {
            //    var linksContainer = $('#links'),
            //        baseUrl;
            //    // Add the demo images as links with thumbnails to the page:
            //    $.each(result.photos.photo, function (index, photo) {
            //        baseUrl = 'http://farm' + photo.farm + '.static.flickr.com/' +
            //            photo.server + '/' + photo.id + '_' + photo.secret;
            //        $('<a/>')
            //            .append($('<img>').prop('src', baseUrl + '_s.jpg'))
            //            .prop('href', baseUrl + '_b.jpg')
            //            .prop('title', photo.title)
            //            .attr('data-gallery', '')
            //            .appendTo(linksContainer);
            //    });
            //});

            // load data
            var linksContainer = $('#links');
            var cellWidth = Math.round(linksContainer.width() / 5);

            function fillFavorite(tumblr) {
                $('<a/>')
                    .append($('<img>').prop('src', tumblr.ThumbnailUri).width(cellWidth))
                    .prop('href', tumblr.MediaUri)
                    .prop('title', tumblr.Text)
                    .attr('data-gallery', '')
                    .appendTo(linksContainer);
            }

            getFavorites("0", 10, function(data) {

                $.each(data, function(index, tumblr) {
                    fillFavorite(tumblr);
                });
            });
        });
    </script>
}
