@using LvModel.Common
@model LvModel.View.Favorite.FavoritesModel
@{
    ViewBag.Title = "收藏";
}
@section styles
{
    @Styles.Render("~/Content/css/gallery")
}

<div>
    @Html.React("LightBoxDesktop", new
    {
        dataContext = Model,
        tableNameOfFavorite = LvConstants.TableNameOfFavorite,
    })
</div>

@section scripts
{
    @Scripts.Render("~/bundles/favorite")
    @Html.ReactInitJavaScript()
}
