@using LvModel.Common
@using LvService.Common
@model LvModel.View.Comment.CommentModel
@{
    ViewBag.Title = "评论";
}

<div>
    @Html.React("CommentContainerBoxMobile", new
    {
        dataContext = Model,
        tableNameOfFavorite = LvConstants.TableNameOfFavorite,
        tableNameOfComment = LvConstants.TableNameOfComment,
        host = Request.Url != null ? Request.Url.DnsSafeHost : LvConfiguration.DefaultHostName
    })
</div>

@section scripts
{
    @Scripts.Render("~/bundles/comment/mobile")
    @Html.ReactInitJavaScript()
}