@using LvModel.Common
@using LvService.Utilities
@model LvModel.View.Comment.CommentModel
@{
    ViewBag.Title = "评论";
}

<div id="div_content" class="g-doc">
    @Html.React("CommentContainerBoxDesktop", new
    {
        dataContext = Model,
        tableNameOfFavorite = LvConstants.TableNameOfFavorite,
        tableNameOfComment = LvConstants.TableNameOfComment
    })
</div>

@section scripts
{
    <!--React-->
    @Scripts.Render("~/bundles/comment")
    @Html.ReactInitJavaScript()
    <!--React end-->
}