.btn-rectangle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.mar-zero {
    margin: 0;
}

.mar-top {
    margin-top: 10px;
}

.mar-bottom {
    margin-bottom: 40px;
}

.mar-left {
    margin-left: 20px;
}

.mar-right {
    margin-left: auto;
}

.display-inline {
    display: inline-table;
}

.display-block {
    display: block;
}

.max-width-none {
    max-width: none;
}

@selected-color: crimson;

.btn-selected {
    color: @selected-color;
}

.btn-selected:hover {
    color: @selected-color;
}

.btn-selected:focus {
    color: @selected-color;
}
