// common
.content {
    margin: 10px;
}

.container-block {
    padding: 0 10px 0 10px;
    margin-top: 10px;
}

// home
.img-tumblr {
    width: 100%;
}

.hr-tumblr {
    margin: 20px 0 0 0;
}

.text-tumblr {
}

.date-tumblr {
    color: #ccc;
}

.btn-selected {
    color: crimson;
}

// comment
.box-comment {
    margin-bottom: 10px;
}

.text-comment {
    color: #333;
    font-size: 0.9em;
}

.txb-comment {
    max-width: none;
}

.hr-comment {
    margin: 15px 0 10px 0;
}

// favorite
.blueimp-gallery > .fav-nav {
    position: absolute;
    display: none;
}

.blueimp-gallery-controls > .fav-nav {
    display: block;
    opacity: 0.8;
}

.btn-white {
    color: #ccc;
}
